venv/*
venv
chromedriver
/venv/*
/venv
\venv\*
.idea
/.idea


# https://stackoverflow.com/questions/6030530/git-ignore-not-working-in-a-directory
# git rm -r --cached .
# git add .
# git commit -m "Gitignore issue fixed"
